$brand-100: hsl(160, 12%, 94%);
$brand-200: hsl(160, 27%, 82%);
$brand-300: hsl(160, 55%, 75%);
$brand-400: hsl(160, 62%, 58%);
$brand-500: hsl(160, 78%, 46%);
$brand-600: hsl(160, 87%, 36%);
$brand-700: hsl(160, 95%, 24%);
$brand-800: hsl(160, 98%, 15%);
$brand-900: hsl(160, 96%, 9%);

$support-blue-100: hsl(200, 60%, 95%);
$support-blue-200: hsl(205, 69%, 91%);
$support-blue-300: hsl(206, 55%, 75%);
$support-blue-400: hsl(206, 62%, 58%);
$support-blue-500: hsl(206, 78%, 46%);
$support-blue-600: hsl(206, 87%, 36%);
$support-blue-700: hsl(206, 95%, 24%);
$support-blue-800: hsl(206, 98%, 15%);
$support-blue-900: hsl(206, 96%, 9%);

$support-red-100: hsl(356, 12%, 94%);
$support-red-200: hsl(356, 27%, 82%);
$support-red-300: hsl(356, 55%, 75%);
$support-red-400: hsl(356, 62%, 58%);
$support-red-500: hsl(356, 78%, 46%);
$support-red-600: hsl(356, 87%, 36%);
$support-red-700: hsl(356, 95%, 24%);
$support-red-800: hsl(356, 98%, 15%);
$support-red-900: hsl(356, 96%, 9%);

$support-yellow-100: hsl(56, 12%, 94%);
$support-yellow-200: hsl(56, 27%, 82%);
$support-yellow-300: hsl(56, 55%, 75%);
$support-yellow-400: hsl(56, 62%, 58%);
$support-yellow-500: hsl(56, 78%, 46%);
$support-yellow-600: hsl(56, 87%, 36%);
$support-yellow-700: hsl(56, 95%, 24%);
$support-yellow-800: hsl(56, 98%, 15%);
$support-yellow-900: hsl(56, 96%, 9%);

$support-purple-100: hsl(280, 12%, 94%);
$support-purple-200: hsl(280, 27%, 82%);
$support-purple-300: hsl(280, 55%, 75%);
$support-purple-400: hsl(280, 62%, 58%);
$support-purple-500: hsl(280, 78%, 46%);
$support-purple-600: hsl(280, 87%, 36%);
$support-purple-700: hsl(280, 95%, 24%);
$support-purple-800: hsl(280, 98%, 15%);
$support-purple-900: hsl(280, 96%, 9%);

$neutral-100: hsl(220, 1%, 98%);
$neutral-200: hsl(220, 4%, 91%);
$neutral-300: hsl(220, 15%, 79%);
$neutral-400: hsl(221, 17%, 63%);
$neutral-500: hsl(222, 17%, 35%);
$neutral-600: hsl(220, 23%, 25%);
$neutral-700: hsl(218, 34%, 12%);
$neutral-800: hsl(220, 62%, 8%);
$neutral-900: hsl(221, 76%, 2%);

$pageColour: $neutral-100;
$navBurgerInner: $neutral-900;
$navBurgerBg: $brand-100;